<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>432303398571-qvbse1vgc55aj5sqtv2bsp4ee6e24v14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432303398571-qvbse1vgc55aj5sqtv2bsp4ee6e24v14</string>
	<key>API_KEY</key>
	<string>AIzaSyC4w3kc4MUcgshBntqIjBbK70D95ueUYqY</string>
	<key>GCM_SENDER_ID</key>
	<string>432303398571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nishilshah.sound-q</string>
	<key>PROJECT_ID</key>
	<string>project-1641079780325555740</string>
	<key>STORAGE_BUCKET</key>
	<string>project-1641079780325555740.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:432303398571:ios:2ef4ea3d1c0ed563</string>
	<key>DATABASE_URL</key>
	<string>https://soundq.firebaseio.com</string>
</dict>
</plist>